<h1>Listing terminals</h1>
<%= request.url %>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terminals.each do |terminal| %>
      <tr>
        <td><%= link_to 'Show', terminal %></td>
        <td><%= link_to 'Edit', edit_terminal_path(terminal) %></td>
        <td><%= link_to 'Destroy', terminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terminal', new_terminal_path %>
