<!DOCTYPE html>
<html>
<head>
  <title>Rongyi_term_cms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script src="http://cdn.bootcss.com/iCheck/1.0.1/icheck.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <%= link_to '容易网终端机 CMS', root_path, :class => "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">登录／注册</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录用户名 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="#">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li <% if request.url == "http://localhost:3000/terminals" %> class="active" <% end %>><%= link_to '终端机列表', terminals_path %></li>
        <li><a href="#">用户列表</a></li>
        <li><a href="#">元数据配置</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
</body>
</html>